.nav {
  background-color: #0c77ce;
  color: white;
  padding: 5px;
}

.nav-brand {
  display: none;
  margin-left: 10px;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav ul li {
  margin-bottom: 10px;
  text-align: center;
}

.nav ul li a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }

  .nav-brand {
    margin-bottom: 0;
    font-size: 1rem;
    display: block;
  }

  .nav ul {
    display: flex;
    align-items: center;
  }

  .nav ul li {
    margin: 0 10px;
  }

  .nav ul li a:hover {
    background-color: #0a5ca0;
    color: #ffffff;
    border-radius: 6px;
  }
}
